fastapi[standard]
asyncpg
aiofiles
psycopg2 # Needs postgresql to be installed (in mac).
aiofiles
geopy
googlemaps
osmnx
rtree
shapely
httpx
pytest
pytest-asyncio
networkx
numpy
pandas
requests
scipy
uvicorn
scikit-learn
